<div class="container">
  <div class="row">
    <div class="col mt-5 text-center">
      <h1><strong>About</strong></h1>
    </div>
  </div>
  <div class="row">
    <div class="col mt-3 text-center">
      <h2>
        WhereWearsは、服好きの皆さんが、<br>
        行ったアパレルショップを投稿する<br>
        情報共有サイトです。どんどん投稿をして、<br>
        全国のアパレルショップを制覇しましょう!!
      </h2>
      <!--<img src="about.jpeg" width="600px" height="400px">-->
    </div>
  </div>


</div>