<div class="text-success text-center">
  <%= flash[:notice] %>
</div>

<div class="container">
  <div class="row">
    <div class="col mt-5 text-center">
      <h1>Users</h1>
    </div>
  </div>
  <table class="table mt-3">
    <thead>
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <!-- each.with_index(1)で会員のIDを1からにする-->
      <% @users.each.with_index(1) do |user, i| %>
        <tr>
          <td><%= i %></td>
          <td><%= link_to user.last_name + " " + user.first_name, admins_user_path(user) %></td>
          <td><%= user.email %></td>
          <td>
            <% if user.is_deleted == false %>
              <p class="text-success">有効</p>
            <% else %>
              <p class="text-danger">退会</p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>