@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body {
    margin: 0;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

body>div.container {
    flex: 1;
}

footer {
    height: 40px;
}

body {
    background-image: url('/USA.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    //白色を貼り付けて、透過させる。
    background-color:rgba(255,255,255,0.7);
    //混合モードの指定。
    background-blend-mode:lighten;
}

table,tr,th,td{
  border: 5px groove;
}