<div class="text-success text-center">
  <%= flash[:notice] %>
</div>
<div class="container">
  <div class="row">
    <div class="col mt-5 text-center">
      <h1><strong>管理者ページ</strong></h1>
    </div>
  </div>
  <div class="row">
    <div class="col mt-5 text-center">
      <h2>
        ユーザー情報や、ショップの情報を編集できます。<br>
        ユーザーを退会扱いすることで、ログインをできなくさせます。<br>
        不適切なコメントやレビューは削除、または非表示にして、<br>
        ユーザーが使いやすい環境を作りましょう。
      </h2>
    </div>
  </div>

</div>